<mot-header
  image="../../../../assets/images/header-backgrounds/home-background.jpg"
  heading="Welcome to Newcastle Helix"
  backgroundOverlayColor="rgba(0,51,255,0.7)"
>
  <p class="color-white">
    A state-of-the art city centre innovation district dedicated to helping us all live better lives.
  </p>
  <button class="button secondary inverted opacity">start learning ↓</button>
  <button class="button secondary inverted opacity">learn more →</button>
</mot-header>
<mot-explore-banner></mot-explore-banner>
<mot-footer></mot-footer>
