$font-newcastle-helix: 'Newcastle Helix';

@font-face {
  font-family: 'Newcastle Helix';
  src: url('../fonts/NewcastleHelix-Regular.eot');
  src: url('../fonts/NewcastleHelix-Regular.woff2') format('woff2'),
    url('../fonts/NewcastleHelix-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
