@import 'fonts';
@import 'buttons';
@import 'sizes';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  line-height: $size-28;
  font-family: $font-newcastle-helix;
  color: black;
  font-weight: 400;
}

h1 {
  font-size: $size-45;
  line-height: $size-56;
  font-weight: 700;

  @media screen and (min-width: $tablet-size) {
    font-size: $size-68;
    line-height: $size-84;
  }

  @media screen and (min-width: $desktop-size) {
    &.plus {
      font-size: $size-101;
      line-height: $size-112;
    }
  }
}

h2 {
  font-size: $size-30;
  line-height: $size-56;
  font-weight: 700;

  @media screen and (min-width: $tablet-size) {
    font-size: $size-45;
    line-height: $size-56;
  }

  @media screen and (min-width: $desktop-size) {
    &.plus {
      font-size: $size-101;
      line-height: $size-112;
    }
  }
}

h3 {
  font-size: $size-20;
  line-height: $size-28;
  font-weight: 700;

  @media screen and (min-width: $tablet-size) {
    font-size: $size-30;
    line-height: $size-56;
  }
}

h4 {
  font-size: $size-20;
  line-height: $size-28;
  font-weight: 500;

  b {
    font-weight: 700;
  }
}

h5 {
  font-size: $size-20;
  line-height: $size-28;
  font-weight: 500;
}

p {
  @extend html;

  small {
    font-size: $size-18;
    line-height: $size-28;
  }

  &.smaller {
    font-size: $size-14;
    line-height: $size-28;
  }
}

a {
  cursor: pointer;
  font-size: $size-20;
  line-height: $size-28;
  font-weight: 400;
  color: $blue;
  text-decoration-line: underline;
}

hr {
  background: white;
  height: $size-1;
}

.container {
  max-width: 70.94rem;
  margin: 0 auto;
  padding: 0 1.24rem;
}

.underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.error {
  color: $red;
}

.color-white {
  color: white;
}

.margin-top-20 {
  margin-top: $size-20;
}
