<div class="banner">
  <div class="container">
    <div class="banner__content">
      <h2 class="cursor-pointer">Explore Newcastle Helix →</h2>
      <p>
        A landmark 24-acre hybrid city quarter in the centre of Newcastle, built for international tech and science
        businesses, the local community and residents.
      </p>
      <div class="banner__content-buttons">
        <button class="button secondary inverted opacity">the buildings →</button>
        <button class="button secondary inverted opacity">what's around →</button>
        <button class="button secondary inverted opacity">have your say →</button>
      </div>
    </div>
  </div>
</div>
