<footer>
  <div class="container">
    <div class="logo">
      <img
        class="logo__img cursor-pointer"
        src="../../../../assets/images/logo/newcastle-helix-logo.svg"
        alt="newcastle helix logo"
      />
      <div class="logo__socials cursor-pointer">
        <img
          src="../../../../assets/icons/linked-in-black-round-icon.svg"
          alt="linked-in"
          (click)="openLink('https://www.linkedin.com/company/newcastle-helix/')"
        />
        <img
          src="../../../../assets/icons/facebook-black-round-icon.svg"
          alt="facebook"
          (click)="openLink('https://www.facebook.com/newcastlehelix/')"
        />
        <img
          src="../../../../assets/icons/twitter-black-round-icon.svg"
          alt="twitter"
          (click)="openLink('https://twitter.com/newcastlehelix?lang=en')"
        />
        <img
          src="../../../../assets/icons/instagram-black-round-icon.svg"
          alt="instagram"
          (click)="openLink('https://www.instagram.com/newcastlehelix/?hl=en')"
        />
      </div>
    </div>

    <hr />
    <div class="main">
      <p class="main__about smaller color-white">
        Newcastle Helix exists to help us all live better lives. Easier, healthier, smarter and longer. Our focus is on
        data science, urban science and life science. Together, we’re transforming the quality of life for families,
        communities and cities around the world. Reg. Company no. 0C415157
      </p>

      <div class="grid">
        <ul class="grid__links">
          <li>
            <a
              ><p class="smaller color-white cursor-pointer"><b>About</b></p></a
            >
          </li>
          <li>
            <a><p class="smaller color-white cursor-pointer">Home</p></a>
          </li>
          <li>
            <a><p class="smaller color-white cursor-pointer">News</p></a>
          </li>
          <li>
            <a><p class="smaller color-white cursor-pointer">Events</p></a>
          </li>
          <li>
            <a class="margin-top-20"
              ><p class="smaller color-white cursor-pointer"><b>Contact</b></p></a
            >
          </li>
          <li>
            <a class="margin-top-20"
              ><p class="smaller color-white cursor-pointer"><b>My Newcastle Helix</b></p></a
            >
          </li>
        </ul>

        <ul class="grid__links">
          <li>
            <a
              ><p class="smaller color-white cursor-pointer"><b>Explore</b></p></a
            >
          </li>
          <li>
            <a><p class="smaller color-white cursor-pointer">Live</p></a>
          </li>
          <li>
            <a><p class="smaller color-white cursor-pointer">Study</p></a>
          </li>
          <li>
            <a><p class="smaller color-white cursor-pointer">Work</p></a>
          </li>
          <li>
            <a
              ><p class="smaller color-white cursor-pointer"><b>Occupier Directory</b></p></a
            >
          </li>
          <li>
            <a class="margin-top-20"
              ><p class="smaller color-white cursor-pointer"><b>Shape My Newcastle Helix</b></p></a
            >
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="policies">
      <p class="smaller color-white">© 2022 Newcastle Helix</p>
      <ul class="policies__links">
        <li>
          <a><p class="smaller color-white cursor-pointer">Privacy Policy</p></a>
        </li>
        <li>
          <a><p class="smaller color-white cursor-pointer">Cookie Policy</p></a>
        </li>
        <li>
          <a><p class="smaller color-white cursor-pointer">Accesibility Statement</p></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
